/**
* You can edit this whole file.
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 0 40px;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
  color: var(--gray-4);

  @media (max-width: 768px) {
    font-size: var(--font-size-3);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 20px;
}

a {
  text-decoration: none;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  color: var(--gray-4);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container__title {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
}

.card {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 350px;
  border: 1px solid var(--gray-1);
}
